.env
.env.*
!.env.example
!.env.testing

/vendor/
/node_modules/

/.phpunit.cache
/.phpunit.result.cache
/coverage-report/

/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

.phpactor.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
